/* ============================= Variables ==================== */
:root{
    --colo-header: #000000;
}
/* ============================= Base ========================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}


header{
    background-color: var(--colo-header);
}


/* =========================== Header ========================= */
.nav__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colo-header);
    padding: 20px 50px;
}

.logo{
    font-size: 1.5rem;
    color: #ffff;
}

.limitede__off{
    color: #ffff;
}

.search{
    width: 250px;
    height: 40px;
     border: none;
    background-color: gray;
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search__input{
    width: 80%;
    background-color: transparent;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    outline: none;
}

.search__input::placeholder {
    color: lightgray;
  }

.icon{
    font-size: 20px;
    color: lightgray;
}

.limitede__off{
    font-size: 1.2rem;
    border-bottom: 1px solid green;
    cursor: pointer;
}

.nav__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu__item {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    padding: 20px;
  }
/* =========================== Main ========================= */

.cont1 {
    height: 365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 110px;
    height: 110px;
}

.cont2 {
    display: flex;
    align-items: center;
}

.cont2_item1 .img-shoes {
    width: 784px;
    height: 918px;
}

.cont2_item2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont2_item1, .cont2_item2 {
    flex: 1;
}

.cont2_item2 .inside_cont2_item2 {
    max-width: 540px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cont2_item2 .title {
    font-size: 80px;
    font-weight: 700;
    color: var(--colo-header);
    text-align: center;
}

.cont2_item2 .price {
    font-size: 52px;
    font-weight: 700;
}

.cont2_item2 .details .colors {
    height: 74px;
    display: flex;
    align-items: center;
}

.cont2_item2 .details .colors .color1, .color2 {
    width: 42px;
    height: 52px;
    display: inline-block;
    margin-right: 25px;
}

.cont2_item2 .details .colors .color1 {
    background-color: #000000;
}

.cont2_item2 .details .colors .color2 {
    background-color: #4210CF;
}

.cont2_item2 .details .numbers .number {
    width: 110px;
    height: 74px;
    display: inline-block;
    margin-right: 45px;
    font-size: 55px;
    font-weight: 300;
    border: solid 1px #000000;
}

.flex_center-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}