/* ============================= Variables ==================== */
:root{
    --colo-header: #000000;
}
/* ============================= Base ========================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}


header{
    background-color: var(--colo-header);
}


/* =========================== Header ========================= */
.nav__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colo-header);
    padding: 20px 50px;
}

.logo{
    font-size: 1.5rem;
    color: #ffff;
}

.limitede__off{
    color: #ffff;
}

.search{
    width: 250px;
    height: 40px;
     border: none;
    background-color: gray;
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search__input{
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    border: none;
    outline: none;
}

.search__input::placeholder {
    color: lightgray;
  }

.icon{
    font-size: 20px;
    color: lightgray;
}

.limitede__off{
    font-size: 1.2rem;
    border-bottom: 1px solid green;
}