# ESTE É UM ARQUIVO .ENV EXEMPLO
# O NOME DO ARQUIVO .ENV USADO PARA DESENVOLVIMENTO SERÁ
# .dev.env E PARA PRODUÇÃO SERÁ .prod.env

# SERVIDOR
PORT=

# BANCO DE DADOS
DB_HOST:
DB_NAME:
DB_PWD:
DB_TYPE:

# CRYPTO
TOKEN=
SECRET=